<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Eva360 - UPC 2017</title>
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/bulma.min.css")
    @Styles.Render("~/Content/Site.css")
    @RenderSection("styles", required: false)
</head>
<body>
    <nav id="navbar-vue" class="nav has-shadow">
        <div class="nav-left">
            @Html.ActionLink("EVA360", "Index", "Home", new { @class = "nav-item" })
        </div>

        <div class="nav-center">
            <a class="nav-item">
                <span class="icon">
                    <i class="fa fa-github"></i>
                </span>
            </a>
        </div>

        <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>

        <div class="nav-right nav-menu">
            @Html.ActionLink("Inicio", "Index", "Home", new { @class = "nav-item" })
            @Html.ActionLink("Usuarios", "About", "Home", new { @class = "nav-item" })
            @Html.ActionLink("Acerca De", "About", "Home", new { @class = "nav-item" })
            @Html.Partial("_LoginPartial")
            
        </div>
    </nav>

    <aside id="rightbar-vue">
        <div id="right-mask" @@click="cerrar()"></div>
        <div id="right-wrapper" class="section">
            <div class="container is-paddingless width-auto">
                <div class="columns">
                    <div class="column is-12">
                        <component :datos="datos" :is="componente_activo" @@close="cerrar()"></component>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <div class="columns body-content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <div class="has-text-centered">
                <p>
                    <strong>EVA360</strong>
                    <span class="fw-400">Proyecto hecho por Diego Jara y Francis Marquez.</span>
                </p>
                <p>
                <a class="icon" href="https://github.com/saintplay/EVA-360">
                    <i class="fa fa-github"></i>
                </a>
                </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/Scripts/vue.js")
    @Scripts.Render("~/Scripts/axios.min.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/lodash.min.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/app/General/app.js")
    @RenderSection("scripts", required: false)
    <script>

        var NETDATE_REGEX = /\/Date\((.*)\)\//;

        rightbar.cerrar = function() {
            $('#rightbar-vue').removeClass('active');
            this.componente_activo = 'componente-vacio';
            this.datos = {};
        }
        rightbar.mostrar = function() {
            $('#rightbar-vue').addClass('active');
        }
    </script>
</body>
</html>
