@model Eva360.ViewModel.Home.IndexViewModel

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>EVA360</h1>
    <p class="lead">Bienvenido al sistema de Gestión de Reportes</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Lista de Usuarios</h2>
        <table class="table">
            <tr>
                <th>UsuarioId</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Sexo</th>
                <th>TipoDocumento</th>
                <th>Numero</th>
                <th>Email</th>
                <th>Codigo</th>
            </tr>
            @foreach (var usuario in Model.LstUsuario)
            {
                <tr>
                    <td>@usuario.UsuarioId</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.FechaNacimiento.ToShortDateString()</td>
                    <td>@usuario.Sexo</td>
                    <td>@usuario.TipoDocumento.Sigla</td>
                    <td>@usuario.NroDocumento</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.Codigo</td>
                </tr>
            }
        </table>
    </div>
</div>